<div
  class="group py-3 transition ease-in-out duration-200 rounded-lg cursor-pointer card bg-white shadow-item  hover:-translate-y-2 transform-gpu">

  <div class="flex p-6 justify-center overflow-hidden h-60">
    <img
      class="mb-6 rounded-lg h-70 object-contain filter"
      width="260"
      height="260"
      [ngSrc]="product.image"
      [alt]="product.image"
    />
  </div>

  <div class="relative flex flex-col p-6 gap-2 font-poppins w-full border-t border-gray-100 ">
    <div class="relative flex justify-between">
      <h2 class="text-sm truncate">
        {{ product.title }}
      </h2>
    </div>
    <span class="text-sm  font-light border bg-gray-200/50 w-fit px-2 rounded">
      {{ product.category | titlecase }}
    </span>
    <span class="font-medium text-2xl">{{ product.price | currency }}</span>

    <div class="flex bg-white w-full  justify-between  items-center content-center">

      <dominizon-quantity-changer
        [productId]="product.id"
        (quantityProductChanged)="onQuantityProductChange($event)"
      />
      <dominizon-add-to-cart
        [productId]="product.id"
        (addProduct)="onAddProduct($event)"
      />
    </div>
    

    <p
      *ngIf="shouldShowProductAddedText$()"
      class="p-2 my-3 text-sm font-semibold rounded bold fadeInOut">
      Product added....
    </p>
  </div>
</div>
